strf/
Stochastic-Transformer-Networks/data/*.dev
Stochastic-Transformer-Networks/data/*.test
Stochastic-Transformer-Networks/data/*.train
Stochastic-Transformer-Networks/signjoey/__pycache__
Stochastic-Transformer-Networks/output/*.ckpt
Stochastic-Transformer-Networks/data/*.pkl
Stochastic-Transformer-Networks/SavedModels/*